<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Bienvenido a YourProjects!</h1>
        <p>Es la manera gratuita, flexible y visual de organizarlo todo con cualquiera.</p>
        <p>Olvídese de las eternas ristras de correos electrónicos, de las hojas de cálculo obsoletas, de las notas que
            se
            traspapelan y de los programas incompetentes para gestionar proyectos. YourProjects le permite ver todo lo
            relacionado
            con su proyecto de un solo vistazo</p>
    </div>
</div>